* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, h1, h2, h3, p {
  margin: 0px;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 100px 180px;
}

.resume {
  display: flex;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-style: groove;
  border-width: 5px;
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
  min-height: 100%;
}

.left {
  width: 30%;
  padding: 20px;
  background-color: slategray;
  color: #fff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.left h1 {
  font-size: 42px;
  text-align: center;
}

h2 {
  margin-bottom: 10px;
}

#job {
  text-align: center;
}

.left img {
  width: 200px;
  height: auto;
  border: 5px ridge lightblue;
  display: block;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 10px;
}

.left p {
  font-size: 18px;
  margin-bottom: 10px;
  line-height: 1.8;
  padding-left: 20px;
}

.right {
  width: 70%;
  padding: 30px 80px 30px 40px;
  background-color: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

h3 {
  font-size: 24px;
  margin: 30px 0 15px 0;
  color: #3498db;
}

h4 {
  font-size: 20px;
  margin: 30px 0 15px 0;
  color: black;
  padding-left: 25px;
}

.right p {
  font-size: 18px;
  margin-bottom: 10px;
  line-height: 2.0;
  text-align: justify;
  padding-left: 20px;
}

.skills {
  list-style:circle;
  padding-left: 40px;
}

.skills li {
  font-size: 18px;
  line-height: 1.8;
  text-align:start;
}


